<section class="{{styles.profile__container}}">
  <div class='{{styles.profile__title-wrapper}}'>{{{Button
    text=""
    classNames='profile__goBackBtn'
    type="button"
    id="backtoProfileBtn"
    onClick=onGoBackClick
  }}}
    <h1 class="{{styles.profile__title}}">Изменить пароль</h1>
  </div>
  <form name="{{styles.profileData_form}}">

    <ul class="{{styles.profile__fields}}">
      <li class="{{styles.profile__fieldsItem}}">{{{InputTextValidate
        id="oldPassword"
        name="oldPassword"
        type="text"
        value=oldPasswordValue
        placeholder="Старый пароль"
        label="Старый пароль"
        errorMessage=errorOldPasswordMessage
        disabled=false
        pattern=oldPasswordPattern
        classInput=styles.inputBlockProfile__input
        classLabel=styles.inputBlockProfile__label
      }}}</li>
      <li class="{{styles.profile__fieldsItem}}">{{{InputTextValidate
        id="newPassword"
        name="newPassword"
        type="password"
        label="Новый пароль"
        value=newPasswordValue
        placeholder="Новый пароль"
        errorMessage=errorNewPasswordMessage
        disabled=false
        pattern=newPasswordPattern
        classInput=styles.inputBlockProfile__input
        classLabel=styles.inputBlockProfile__label
      }}}</li>
      <li class="{{styles.profile__fieldsItem}}">{{{InputTextValidate
        id="retryPassword"
        name="retryPassword"
        type="password"
        placeholder="Пароль"
        label="Повторите новый пароль"
        errorMessage=errorSubmitPasswordMessage
        value=submitPasswordValue
        disabled=false
        pattern=submitPasswordPattern
        classInput=styles.inputBlockProfile__input
        classLabel=styles.inputBlockProfile__label
      }}}</li>
      <p id="id-errorMsg" class="{{style.inputBlock__message}}">{{errorSubmitPasswordMessage}}</p>
    </ul>

    {{{Button
      text="Сохранить"
      classNames='button_primary'
      type="submit"
      id="saveBtn"
      onClick=onSaveDataClick
    }}}

  </form>

</section>

