<section class="profile__container profile__container_edit">
  <div class='profile__title-wrapper'>{{{Button
    text=""
    classNames="profile__goBackBtn"
    type="button"
    id="backtoProfileBtn"
    onClick=onGoBackClick
  }}}
    <h1 class="profile__title">Изменить пароль</h1>
  </div>
  <form name="profileData_form">

    <ul class="profile__fields">
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="oldPassw"
        name="oldPassw"
        type="text"
        value=oldPasswordValue
        placeholder="Старый пароль"
        label="Старый пароль"
        errorMessage=errorOldPasswordMessage
        disabled=false
        pattern=oldPasswordPattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="newPassw"
        name="newPassw"
        type="password"
        label="Новый пароль"
        value=newPasswordValue
        placeholder="Новый пароль"
        errorMessage=errorNewPasswordMessage
        disabled=false
        pattern=newPasswordPattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="retryPassw"
        name="retryPassw"
        type="password"
        placeholder="Пароль"
        label="Повторите новый пароль"
        errorMessage=errorNewPasswordMessage
        value=submitPasswordValue
        disabled=false
        pattern=submitPasswordPattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>

    </ul>

    {{{Button
      text="Сохранить"
      classNames="button_primary"
      type="submit"
      id="saveBtn"
      onClick=onSaveDataClick
    }}}

  </form>

</section>

