<div class="{{styles.root}}">
<main class="{{styles.main}}">
    <form class="{{styles.signIn_container}}" name="signInForm" action="" id="signInForm">
        <h1 class="{{styles.signIn_title}}">Вход</h1>
        <fieldset class="{{styles.signIn_fieldset}}">
          {{{InputTextValidate
            id="login"
            name="login"
            type="text"
            placeholder="Логин"
            label="Логин"
            classInput=styles.signIn__input
            classLabel=styles.signIn__label
            value=loginValue
            errorMessage=errorLoginMessage
            disabled=false
            pattern=loginPattern
          }}}
          {{{InputTextValidate
            id="password"
            name="password"
            type="password"
            label="Пароль"
            value=passwordValue
            placeholder="Пароль"
            errorMessage=errorPasswordMessage
            disabled=false
            pattern=passwordPattern
            classInput=styles.signIn__input
            classLabel=styles.signIn__label
          }}}
        </fieldset>
        <div class="{{styles.signIn_buttonBlock}}">
            {{{Button
                    text="Войти"
                    classNames='button_primary'
                    type="submit"
                    id="signInSubmitBtn"
                    onClick=onSubmitClick
            }}}
            {{{ButtonLink
                    text="Нет аккаунта?"
                    classNames='buttonLink_center'
                    id="onSignUp"
                    onClick=onSignUpClick
            }}}
        </div>

    </form>

</main>
</div>
