<section class="profile__container">

  <div class='profile__title-wrapper'>
    {{{Button
      text=""
      classNames="profile__goBackBtn"
      type="button"
      id="backtoProfileBtn"
      onClick=onGoBackClick
    }}}
    <h1 class="profile__title_edit">
      Изменить данные профиля
    </h1>
  </div>
  <form name="profileData_form">

    <ul class="profile__fields">
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="login"
        name="login"
        type="text"
        placeholder="Логин"
        label="Логин"
        value=loginValue
        errorMessage=errorLoginMessage
        disabled=false
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
        pattern=loginPattern
      }}}</li>

      <li class="profile__fieldsItem">{{{InputTextValidate
        id="first_name"
        name="first_name"
        type="text"
        placeholder="Имя"
        value=firstNameValue
        label="Имя"
        errorMessage=errorFirstNameMessage
        disabled=false
        pattern=firstNamePattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="second_name"
        name="second_name"
        type="text"
        placeholder="Фамилия"
        value=secondNameValue
        label="Фамилия"
        errorMessage=errorSecondNameMessage
        disabled=false
        pattern=secondNamePattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="display_name"
        name="display_name"
        type="text"
        value=displayNameValue
        placeholder="Имя в чате"
        label="Имя в чате"
        errorMessage=errorDisplayNameMessage
        disabled=false
        pattern=displayNamePattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextValidate
        id="email"
        name="email"
        type="email"
        placeholder="Почта"
        value=emailValue
        label="Почта"
        errorMessage=errorEmailMessage
        disabled=false
        pattern=emailPattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>

      <li class="profile__fieldsItem">{{{InputTextValidate
        id="phone"
        name="phone"
        type="text"
        placeholder="Телефон"
        value=phoneValue
        label="Телефон"
        errorMessage=errorPhoneMessage
        disabled=false
        pattern=phonePattern
        classInput="inputBlockProfile__input"
        classLabel="inputBlockProfile__label"
      }}}</li>

    </ul>

    {{{Button
      text="Сохранить"
      classNames="button_primary"
      type="submit"
      id="saveBtn"
      onClick=onSaveDataClick
    }}}
    <p>{{errorMessage}}</p>
  </form>

</section>

