<div class="{{styles.root}}">
<main class="{{styles.main}}">
    <form class="{{styles.signUp_container}}" name="signUp" id="signUpForm">
        <h1 class="{{styles.signUp_title}}">Регистрация</h1>
        <fieldset class="{{styles.signUp_fieldset}}">
          {{{InputTextValidate
            id="email"
            name="email"
            type="email"
            placeholder="Почта"
            value=emailValue
            label="Почта"
            errorMessage=errorEmailMessage
            disabled=false
            pattern=emailPattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
          {{{InputTextValidate
            id="login"
            name="login"
            type="text"
            placeholder="Логин"
            label="Логин"
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
            value=loginValue
            errorMessage=errorLoginMessage
            disabled=false
            pattern=loginPattern
          }}}
          {{{InputTextValidate
            id="first_name"
            name="first_name"
            type="text"
            placeholder="Имя"
            value=firstNameValue
            label="Имя"
            errorMessage=errorFirstNameMessage
            disabled=false
            pattern=firstNamePattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
          {{{InputTextValidate
            id="second_name"
            name="second_name"
            type="text"
            placeholder="Фамилия"
            value=secondNameValue
            label="Фамилия"
            errorMessage=errorSecondNameMessage
            disabled=false
            pattern=secondNamePattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
          {{{InputTextValidate
            id="phone"
            name="phone"
            type="text"
            placeholder="Телефон"
            value=phoneValue
            label="Телефон"
            errorMessage=errorPhoneMessage
            disabled=false
            pattern=phonePattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
          {{{InputTextValidate
            id="password"
            name="password"
            type="password"
            label="Пароль"
            value=passwordValue
            placeholder="Новый пароль"
            errorMessage=errorNewPasswordMessage
            disabled=false
            pattern=passwordPattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
          {{{InputTextValidate
            id="retryPassw"
            name="retryPassw"
            type="password"
            placeholder="Пароль"
            label="Пароль (еще раз)"
            errorMessage=errorSubmitPasswordMessage
            value=submitPasswordValue
            disabled=false
            pattern=submitPasswordPattern
            classInput=styles.signUp__input
            classLabel=styles.signUp__label
          }}}
        </fieldset>

        <div class="{{styles.signUp_buttonBlock}}">
            {{{Button
                    text="Зарегестироваться"
                    classNames='button_primary'
                    type="submit"
                    id="signUpSubmitBtn"
                    onClick=onSubmitClick
            }}}
            {{{ButtonLink
                    text="Войти"
                    classNames='buttonLink_center'
                    id="onSignIn"
                    onClick=onSignInClick
            }}}
        </div>

    </form>

</main>
</div>
