<section class="profile__container">

    <image href="{{pathAvatar}}" class="avatar " ></image>

  {{{InputFile
    id="fileInput"
    name="fileInput"
    placeholder=""
    label="File avatar"
    errorMessage="1111"
    disabled=false
    classInput="inputFile__input"
    classLabel="avatar profile__avatar"
    onUpload=onUploadAvatar
  }}}


  <h1 class="profile__title">{{name}}</h1>
  <form name="profileData_form">

    <ul class="profile__fields">
      <li class="profile__fieldsItem">{{{InputTextProfile
        id="login"
        name=name
        type="text"
        placeholder=loginValue
        label="Логин"
        disabled=true
      }}}</li>

      <li class="profile__fieldsItem">{{{InputTextProfile
        id="name"
        name=name
        type="text"
        placeholder=firstNameValue
        label="Имя"
        disabled=true
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextProfile
        id="secondName"
        name=secondName
        type="text"
        placeholder=secondNameValue
        label="Фамилия"
        disabled=true
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextProfile
        id="displayName"
        name=displayName
        type="text"
        placeholder=displayNameValue
        label="Имя в чате"
        disabled=true
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextProfile
        id="email"
        name=email
        type="text"
        placeholder=emailValue
        label="Почта"
        value=emailValue
        disabled=true
      }}}</li>
      <li class="profile__fieldsItem">{{{InputTextProfile
        id="phone"
        name=phone
        type="text"
        placeholder="Телефон"
        value=phoneValue
        label="Телефон"
        value=phoneValue
        disabled=true
      }}}</li>

    </ul>

  </form>
  <ul class="profile__fields">
    <li class="profile__btnList">{{{ButtonLink
      text="Изменить данные"
      classNames=""
      id="changeBtn"
      onClick=onChangeClick
    }}}</li>
    <li class="profile__btnList">{{{ButtonLink
      text="Изменить пароль"
      classNames=""
      id="changeBtn"
      onClick=onChangePasswClick
    }}}</li>
    <li class="profile__btnList">{{{ButtonLink
      text="Выйти"
      classNames="buttonLink_red"
      id="outBtn"
      onClick=onOutClick
    }}}</li>
  </ul>

</section>

