<div class="{{styles.inputBlock}}">
  <div class="{{styles.inputBlock__wrapper}}">
    <label for='{{id}}' class="{{classLabel}}" style='background-image: url("{{pathAvatar}} "); background-size: contain'></label>
    {{{Input
      id=id
      name=name
      type=type
      placeholder=placeholder
      classInput=classInput
      value=value
      onInput=onInput
      disabled=disabled
      onChange=onChange
      pattern=pattern
    }}}
  </div>
  <p id="id-errorMsg" class="{{styles.inputBlock__message}}">{{errorMessage}}</p>

</div>
