<div class="inputBlockProfile">
    <div class="inputBlockProfile__wrapper">
        <p class="inputBlockProfile__label  {{classLabel}}">{{label}}</p>
        <input id={{id}} name={{name}} type={{type}} placeholder={{placeholder}}
               class="inputBlockProfile__input {{classInput}}" disabled={{disabled}}/>
    </div>
    {{#if errorMessage}}
        <p class="inputBlockProfile__message">{{errorMessage}}</p>
    {{/if}}

</div>
