<div class="inputBlockProfile">
    <div class="inputBlockProfile__wrapper">
        <p class="inputBlockProfile__label  {{classLabel}}">{{label}}</p>
        {{{Input id=id name=name type=type placeholder=placeholder
                 classInput="inputBlockProfile__input {{classInput}}" value=value onInput=onInput
                 disabled=disabled onChange=onChange pattern=pattern}}}
    </div>
        <p id="id-errorMsg" class="inputBlockProfile__message">{{errorMessage}}</p>

</div>
