<div  class="popup__overlay">
  <div class="popup__container">
    {{{Button
      text="X"
      classNames="popup__closeBtn"
      type="button"
      id="popupClsBtn"
      onClick=onCloseClick
      secondary="true"
    }}}
    <h1 class="popup__title">{{ title }}</h1>
   <p class='popup-confirm__message'>{{message}}</p>

    <div class='popup-confirm__btn-wrapper'>
      {{{Button
        text="Отменить"
        classNames=""
        type="button"
        id="popupCanceleBtn"
        onClick=onCloseClick

      }}} {{{Button
      text="Подтвердить"
      classNames="button_primary"
      type="button"
      id="popupSaveBtn"
      onClick=onSaveClick

    }}}
    </div>

  </div>
</div>


