<div class="{{styles.chatItem}} {{#if active}}{{styles.chatItem_active}}{{/if}} " id={{id}} >
  <div class="{{styles.chatItem__wrapper}}">
    <div class="{{styles.chatItem__avatar}}">
      {{avatar}}
    </div>
    <div class="{{styles.chatItem__info}}">
      <h3 class="{{styles.chatItem__name}}">{{title}}</h3>
      <p class="{{styles.chatItem__message}}">{{text}}</p>
    </div>
    <div class="{{styles.chatItem__metaData}}">
      <p class="{{styles.chatItem__date}}">{{date}}</p>
      {{#if unread_count}}
        <p class="{{styles.chatItem__notify}}">{{unread_count}}</p>
      {{/if}}
    </div>
  </div>
</div>
