<main class="main">
    <div class="main_container">
        {{title}}
        {{{Button  text="Click" classNames="button_primary" type="button" id="mainBtn" onClick=onClick}}}
        {{{InputTextProfile  id="login" name=name type="text" placeholder="login"
                           classInput="" classLabel="" label="Логин" errorMessage=loginErrorMessage

         disabled=false
        }}}
        {{{Nav items=items}}}
        {{{content}}}
    </div>
</main>
