<main class="profile">
    <section class="profile__goBack">
        {{{Button  text="" classNames="profile__goBackBtn" type="button" id="backtoProfileBtn" onClick=onGoBackClick}}}
    </section>
    <section class="profile__container">
        <label for="avatar" class="avatar profile__avatar">
            <input type="file" id="avatar" name="avatar" hidden/>
        </label>
        <h1 class="profile__title">{{name}}</h1>
        <form name="profileData_form">

            <ul class="profile__fields">
                <li class="profile__fieldsItem">{{{InputTextProfile  id="login" name=name type="text" placeholder="Логин"
                                                                     classInput="" classLabel="" label="Логин"
                                                                         value=loginValue
                                                                     errorMessage=errorLoginMessage
                                                                         onInput=onInputLogin onChange=onChangeLogin
                                                                     disabled=false }}}</li>

                <li class="profile__fieldsItem">{{{InputTextProfile  id="name" name=name type="text" placeholder="Имя"
                                                                         value=firstNameValue
                                                                     classInput="" classLabel="" label="Имя"
                                                                     errorMessage=errorFirstNameMessage
                                                                         onInput=onInputFirstName onChange=onChangeFirstName
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="secondName" name=secondName type="text"
                                                                     placeholder="Фамилия"
                                                                         value=secondNameValue
                                                                     classInput="" classLabel="" label="Фамилия"
                                                                     errorMessage=errorSecondNameMessage
                                                                     onInput=onInputSecondName onChange=onChangeSecondName
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="displayName" name=displayName type="text"
                                                                        value= displayNameValue
                                                                     placeholder="Имя в чате"
                                                                     classInput="" classLabel="" label="Имя в чате"
                                                                     errorMessage=errorDisplayNameMessage
                                                                     onInput=onInputDisplayName onChange=onChangeDisplayName
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="email" name=email type="text" placeholder="Почта"
                                                                         value=emailValue
                                                                     classInput="" classLabel="" label="Почта"
                                                                     errorMessage=errorEmailMessage
                                                                     onInput=onInputEmail onChange=onChangeEmail
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="phone" name=phone type="text" placeholder="Телефон"
                                                                         value=phoneValue
                                                                     classInput="" classLabel="" label="Телефон"
                                                                     errorMessage=errorPhoneMessage value=phone
                                                                     onInput=onInputPhone onChange=onChangePhone
                                                                     disabled=false}}}</li>

            </ul>

                {{{Button  text="Сохранить" classNames="button_primary" type="submit" id="saveBtn" onClick=onSaveDataClick}}}

        </form>

    </section>
</main>
