<main class="profile">
    <section class="profile__goBack">
        <a class="profile__goBackBtn" href="/chatList.html"></a>
    </section>
    <section class="profile__container">
            <label for="avatar" class="avatar profile__avatar">
                <input type="file" id="avatar" name="avatar" hidden/>
            </label>
        <h1 class="profile__title">{{name}}</h1>
<form name = "profileData_form" >

 <ul class="profile__fields">
            <li class="profile__fieldsItem">{{{InputTextProfile  id="login" name=name type="text" placeholder=login
                                                                   classInput="" classLabel="" label="Логин" errorMessage=loginErrorMessage
                                                                   disabled=true }}}</li>

                    <li class="profile__fieldsItem">{{{InputTextProfile  id="name" name=name type="text" placeholder=name
                                                                         classInput="" classLabel="" label="Имя" errorMessage=loginErrorMessage
                                                                         disabled=true }}}</li>
                    <li class="profile__fieldsItem">{{{InputTextProfile  id="secondName" name=secondName type="text" placeholder=secondName
                                                                         classInput="" classLabel="" label="Фамилия" errorMessage=loginErrorMessage
                                                                         disabled=true }}}</li>
                    <li class="profile__fieldsItem">{{{InputTextProfile  id="displayName" name=displayName type="text" placeholder=displayName
                                                                         classInput="" classLabel="" label="Имя в чате" errorMessage=loginErrorMessage
                                                                         disabled=true }}}</li>
                    <li class="profile__fieldsItem">{{{InputTextProfile  id="email" name=email type="text" placeholder=email
                                                                         classInput="" classLabel="" label="Почта" errorMessage=loginErrorMessage
                                                                         disabled=true }}}</li>
                    <li class="profile__fieldsItem">{{{InputTextProfile  id="phone" name=phone type="text" placeholder=phone
                                                                         classInput="" classLabel="" label="Телефон" errorMessage=loginErrorMessage
                                                                         disabled=true}}}</li>

            </ul>

            {{#if editMode}}
                {{{Button  text="Click" classNames="button_primary" type="button" id="saveBtn" onClick=onSaveClick}}}
              {{/if}}
</form>
        {{#if editMode}}
            1111
        {{/if}}
            {{#if editMode}}
            <div>
                {{{InputText   id="oldPassw"  name="oldPassw" label="Старый пароль" type="password"
                placeholder="" errorMessage=""  disabled=false  onClick=onClick }}}
                {{{InputText   id="newPassw"  name="newPassw" label="Новый пароль" type="password"
                               placeholder="" errorMessage=""  disabled=false  onClick=onClick }}}
                {{{InputText   id="retryPassw"  name="retryPassw" label="Повторите новый пароль" type="password"
                               placeholder="" errorMessage=""  disabled=false  onClick=onClick }}}
            </div>

             {{else}}
               <ul class="profile__fields">
                    <li class="profile__fieldsItem">{{{ButtonLink  text="Изменить данные" classNames=""  id="changeBtn" onClick=onChangeClick}}}</li>
                    <li class="profile__fieldsItem">{{{ButtonLink  text="Изменить пароль" classNames="" id="changeBtn" onClick=onChangePasswClick}}}</li>
                    <li class="profile__fieldsItem">{{{ButtonLink  text="Выйти" classNames="buttonLink_red" id="outBtn" onClick=onOutClick}}}</li>
             </ul>

           {{/if}}

    </section>
</main>
