<div class="{{styles.root}}">
<main class="{{styles.profile}}">
    <section class="{{styles.profile__goBack}}">
        <a class="{{styles.profile__goBackBtn}}" href="/chats"></a>
    </section>
  {{{content}}}
</main>
</div>
