<main class="profile">
    <section class="profile__goBack">
        {{{Button  text="" classNames="profile__goBackBtn" type="button" id="backtoProfileBtn" onClick=onGoBackClick}}}
    </section>
    <section class="profile__container profile__container_edit">

        <h1 class="profile__title">Изменить пароль</h1>
        <form name="profileData_form">

            <ul class="profile__fields">
                <li class="profile__fieldsItem">{{{InputTextProfile  id="oldPassw" name="oldPassw" type="text"
                                                                     value=oldPasswordValue
                                                                     placeholder="Старый пароль"
                                                                     classInput="" classLabel="" label="Старый пароль"
                                                                     errorMessage=errorOldPasswordMessage
                                                                     onInput=onInputOldPassword onChange=onChangeOldPassword
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="newPassw" name="newPassw" type="password" label="Новый пароль"
                                                                     value=newPasswordValue placeholder="Новый пароль"
                                                                     classInput="" classLabel=""
                                                                     errorMessage=errorNewPasswordMessage
                                                                     onInput=onInputNewPassword onChange=onChangeNewPassword
                                                                     disabled=false }}}</li>
                <li class="profile__fieldsItem">{{{InputTextProfile  id="retryPassw" name="retryPassw" type="password" placeholder="Пароль"
                                                                     value=phoneValue
                                                                     classInput="" classLabel="" label="Повторите новый пароль"
                                                                     errorMessage=errorSubmitPasswordMessage value=submitPasswordValue
                                                                     onInput=onInputSubmitPassword onChange=onChangeSubmitPassword
                                                                     disabled=false}}}</li>

            </ul>

                {{{Button  text="Сохранить" classNames="button_primary" type="submit" id="saveBtn" onClick=onSaveClick}}}

        </form>

    </section>
</main>
