<main class="profile">
    <section class="profile__goBack">
        <a class="profile__goBackBtn" href="/chatList.html"></a>
    </section>
    <section class="profile__container">
            <label for="avatar" class="avatar profile__avatar">
                <input type="file" id="avatar" name="avatar" hidden/>
            </label>
        <h1 class="profile__title">{{name}}</h1>

            <ul class="profile__fields">
                {{#each inputs}}
                    <li class="profile__fieldsItem">{{{this}}}</li>
                {{/each}}
            </ul>
            <ul class="profile__btnBlock">

                {{#each btnList}}
                    <li class="profile__fieldsItem"><span id={{this.id}} class=" {{this.classNames}}" >{{this.text}}</span></li>
                {{/each}}
            </ul>



    </section>
</main>
