<div class="inputBlock">
    <p class="inputBlock__label  {{classLabel}}">{{label}}</p>
    <input id="{{id}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="inputBlock__input {{classInput}}"
           {{#if disabled}}
           disabled
           {{/if}}
    />
    <p class="inputBlock__message">{{errorMessage}}</p>
</div>
