<div class="{{styles.root}}">
<main class="{{styles.chats__container}}">
  <section class="{{styles.chats__leftPanel}}">
    <a
      id="profileLink"
      class="{{styles.chats__profileLink}}"
      href="/profile"
    >Профиль&nbsp;&nbsp;></a>
    <div class="{{styles.chats__searchContainer}}">
      <input
        id="search"
        name="search"
        class="{{styles.chats__inputSearch}}"
        placeholder="Поиск"
      />
    </div>
    <div class="{{styles.chats__chatsListContainer}}">
      {{#each chats}}
        {{{this}}}
      {{/each}}

    </div>
    {{{Button
      text="+"
      classNames='chats__addChatBtn'
      type="button"
      id="addChatBtn"
      onClick=onAddChatClick
    }}}

  </section>

  <section class="{{styles.chats__messagesContainer}}">
    {{#if activeChat}}
    <div class="{{styles.messagesContainer__chatInfo}}">
      <div class="{{styles.messagesContainer__chatInfoWrapper}}">
        <div class="{{styles.messagesContainer__chatAvatar}}"></div>
        <div class="{{styles.messagesContainer__chatName}}">{{chatName}}</div>
      </div>
      <div class="{{styles.messagesContainer__chatActions}}">
        <ul class='{{styles.chatActions__container}}'>
          <li> {{{ButtonLink
            id="showUserfromChat"
            text="Участники чата"
            classNames=""
            onClick=onShowUsersFromChatClick
          }}}
          </li>
          <li> {{{ButtonLink
          id="addUsertoChat"
          text="Добавить юзера"
          classNames=""
          onClick=openPopupAddUserToChat
          }}}
         </li>
          <li> {{{ButtonLink
            id="deleteUserfromChat"
            text="Удалить юзера"
            classNames=""
            onClick=openPopupDeleteUserFromChat
          }}}
          </li>
          <li> {{{ButtonLink
            id="deleteChat"
            text="Удалить чат"
            classNames=""
            onClick=onDeleteChatClick
          }}}
          </li>
        </ul>
      </div>
    </div>
    <div class="{{styles.messagesList}}">
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>
    <form name="messageForm" class="{{styles.messagesContainer__inputContainer}}">
      {{{Button
        text=""
        classNames='inputContainer__addSomething'
        type="button"
        id="addInMessageBtn"
        onClick=onAddInMessageClick
      }}}
      {{{Input
        id="message"
        name="imessage"
        type="text"
        placeholder="Сообщение"
        classInput=styles.inputContainer__input
        value=messageValue
        pattern=".{1,250}"
        disabled=false
        onChange=onChangeMessage
      }}}
      {{{Button
        text=""
        classNames='inputContainer__submitBtn'
        type="submit"
        id="messageSubmitBtn"
        onClick=onSubmitMessageClick
      }}}
    </form>
      {{else}}
      <div class='{{styles.messagesContainer__notify}}'>Выберите чат или создайте новый</div>
    {{/if}}
  </section>
{{#if isOpenPopup}}
    {{{ Popup
      title="Создать новый чат"
      placeholder="Название чата"
      label="Новый чат"
      openPopup=openPopupCreateChat
      closePopup=closePopupCreateChat
      onSaveNewChat=onSaveNewChat
    }}}
{{/if}}
  {{#if isOpenPopupAddUser}}
    {{{ Popup
      title="Добавить юзера по id"
      placeholder="id юзера"
      label="Юзер"
      forUser=true
      openPopup=openPopupAddUserToChat
      closePopup= closePopupAddUserToChat
      onAddUser=onAddUserHandler
    }}}
  {{/if}}
  {{#if isOpenPopupDeleteUser}}
    {{{ Popup
      title="Удалить юзера по id"
      placeholder="id юзера"
      label="Юзер"
      forUser=false
      forDeleteUser=true
      openPopup=openPopupDeleteUserFromChat
      closePopup= closePopupDeleteUserFromChat
      onDeleteUser = onDeleteUserHandler
    }}}
  {{/if}}
  {{#if isOpenPopupShowUsersFromChat}}
    {{{ UsersListPopup
      title="Участники чата"
      list=usersList
      isOpenPopup=isOpenPopupShowUsersFromChat
      closePopupClick= closePopupShowUsers
      onSaveClick= ""
    }}}
  {{/if}}
  {{#if isOpenPopupDeleteChat}}
    {{{ ConfirmationPopup
      title="Удалить этот чат?"
     message="Нажмите кнопку подтвердить если вы действительно хотите это сделать"
      isOpenPopup=isOpenPopupDeleteChat
      closePopupClick= closePopupDeleteChat
      onSaveClick= onDeleteChatHandler
    }}}
  {{/if}}
</main>
</div>
