<div class="{{styles.error__container}}">
  <h1 class="{{styles.error__title}}">{{ title }}</h1>
  <p class="{{styles.error__subTitle}}">{{ subTitle }}</p>
  <a class="{{styles.error__link}}" href={{ link }} id="errorLink">
    {{ linkText }}
  </a>
</div>
