<div class="{{classNames}}" id={{id}}>
  {{#if text}}
    <p class="{{styles.messageItem__text}}">{{text}}</p>
  {{/if}}
  {{#if image}}
    <img src={{image}} alt="image" class="{{styles.messageItem__image}}" />
  {{/if}}
  <div class="{{styles.messageItem__date}}">
    {{#if checkRead}}
      <p class="{{styles.messageItem__checkRead}}"></p>
    {{/if}}
    <p class="{{styles.messageItem__date_text}} {{classNamesDate}}">{{date}}</p>
  </div>
</div>
